
body{
    background-color: burlywood;
}

h1{
    text-align: center;
    color: cadetblue;
}

.container {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    object-fit: cover;
}

.graph {
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    background-color: cadetblue;
    padding: 20px;
}